/* You can add global styles to this file, and also import other style files */
@use "./assets/styles/reset";

@use "@photo-sphere-viewer/core/index.css";

@import "./assets/styles/variables";

body {
  background-color: $mainBackgroundColor;
  background-image: $mainBackgroundGradient;
  background-size: $mainBackgroundSize;
  background-position: $mainBackgroundPosition;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
